SLACK__BOT_TOKEN="xoxb-..."
SLACK__SIGNING_SECRET=""
SLACK__RELAY_CHANNEL=""
PORT=3000
ENVIRONMENT="production"

# BELOW OPTIONS ARE FOR DEVELOPMENT ONLY
SLACK__APP_TOKEN="xapp-"
SLACK__HEARTBEAT_CHANNEL="C..."
ENVIRONMENT="development"
